.user_input_box{
    position: absolute;
    background-color: rgb(100, 100, 100);
    color: rgb(255, 241, 231);
    top: 20%;
    font-size: 150%;
    left: 10%;
    width: 78%;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}
.parola_input_box{
    position: absolute;
    color: rgb(255, 241, 231);
    background-color: rgb(100, 100, 100);
    top: 26%;
    font-size: 150%;
    left: 10%;
    width: 78%;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}
.pin_input_box{
    position: absolute;
    color: rgb(255, 241, 231);
    background-color: rgb(100, 100, 100);
    top: 32%;
    font-size: 150%;
    left: 10%;
    width: 78%;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}
body{
    background-color: rgb(0, 0, 0);
    overflow-y: hidden; /* Hide vertical scrollbar */
    overflow-x: hidden;
}
.text_pdl{
    color: rgb(255, 255, 255);
    position: absolute;
    top: -1%;
    left: 40%;
    text-align: center;
    font-size: 220%;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.submit_button{
    position: absolute;
    display: inline-block;
    width: 80%;
    height: 5%;
    left: 10%;
    top: 40%;
    font-size: 24px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: rgb(255, 255, 255);
    background-color: rgb(83, 95, 255);
    border: none;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
   
}

.sectiune_culoare_login{
    position: absolute;
    background-color: rgb(83, 95, 255);
    z-index: -1;
    width: 100%;
    height: 9%;
    top: 0%;
}

