<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Adaugare Database</title>
</head>
<body>
    <form action="#" class="form_adaugare_principal" method="post">
        <p>Nume</p><input type="text" name="input_nume" value="input_name">
        <p>Prenume</p><input type="text" name="input_prenume" value="input_prenume">
        <p>Telefon</p><input type="text" name="input_telefon" value="input_telefon">
        <p>Varsta</p><input type="text" name="input_varsta" value="input_varsta">
        <p>Cartier</p><input type="text" name="input_cartier" value="input_cartier">
        <p>Instagram</p><input type="text" name="input_instagram" value="input_instagram">
        <p>Detalii</p><textarea name="textarea-detalii" id="detalii" cols="50" rows="5"></textarea>
        <input type="submit">
    </form>
</body>
</html>