<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{{ url_for('static', filename = 'alegere_adaugare_sau_vizionare.css')}}">

</head>
<body>
    <form action="#" class="butoane_alegere_adaugare_sau_vizionare" method="post">
        <button type="submit" name="buton_cautare" value="buton_cautare" class="buton_cautare">Cautare</button>
        <button type="submit" name="buton_adaugare" value="buton_adaugare" class="buton_adaugare">Adaugare</button>
    </form>
</body>
</html>