<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cautare Database</title>
</head>
<body>
    <form action="#" class="form_search_principal" method="post">
        <input type="text" name="search_principal" class="search_principal">
        <input type="submit" name="submit_principal" value="Cauta" class="submit_principal">
    </form>
    <button type="button" onclick = "location.href = '/admin' ">Admin page</button>
</body>
</html>